<h1><%= dasherizedModuleName %></h1>

{{#docs-demo as |demo|}}
  {{#demo.live-example name='live-example'}}
    {{#<%= dasherizedModuleName %>}}
      Content
    {{/<%= dasherizedModuleName %>}}
  {{/demo.live-example}}
{{/docs-demo}}

<p>
  <code><%= dasherizedModuleName %></code> is a component.
</p>

<h2>options</h2>

<h3><code>someOption</code></h3>

Sometimes, `someOption` is used.
