.x-button {
  background-color: #209cee;
  border-color: transparent;
  color: #fff;
  font-weight: bold;
  border-radius: 6px;

  &:hover {
    background-color: #1496ed;
  }
}

body {
  padding: 30px;
}
